<div class="container-fluid">

    <div class="card bg-light ss">

        <div class="question">

            <div class="qtitle">
                <div class="row">

                    <div class="votes col-md-1 col-sm-6 ">
                        <div class="icon" (click)="onUpvoteQuestion()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="50" fill="purple"
                                class="bi bi-caret-up" viewBox="0 0 16 16">
                                <path
                                    d="M3.204 11h9.592L8 5.519 3.204 11zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z" />
                            </svg>
                        </div>
                        <div>
                            <b class="ml-4">{{questionDetails[0].points}}</b>
                        </div>
                        <div class="icon" (click)="onDownvoteQuestion()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="50" fill="purple"
                                class="bi bi-caret-down" viewBox="0 0 16 16">
                                <path
                                    d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z" />
                            </svg>
                        </div>
                    </div>
                    <div class="title col-md-7 mt-5 col-sm-6">
                        <h1>
                            {{questionDetails[0].questionTitle}}
                        </h1>
                    </div>
                    <div class="date col-md-3 mt-5 col-sm-12">
                        <span>{{questionDetails[0].createdAt}}</span>
                    </div>
                </div>
            </div>

            <div class="qbody row">
                <div class="votesspace col-sm-1"></div>
                <div class="body col-sm-10">
                    <div class="mt-3 mb-3" [innerHtml]="questionDetails[0].questionBody"></div>
                </div>
            </div>

            <div class="tags row">
                <div class="votesspace col-sm-1 "></div>
                <div class="col-sm-7">
                    <span class="itags" *ngFor="let tag of questionDetails[0].tags">
                        <button class="btn btn-primary btn-sm mr-2">{{ tag }}</button>
                    </span>

                </div>
                <div class="qauthor col-sm-3">
                    Asked by: {{questionDetails[0].email}}
                </div>

            </div>
        </div>
    </div>

    <div class="ans">
        <label *ngIf="questionDetails[0].answers.length>0 ; else block1"
            class="ans">{{questionDetails[0].answers.length}} Answers</label>
    </div>
    <div class="noans">
        <ng-template #block1>
            <label class="ans">No one answered for this question yet</label>
        </ng-template>
    </div>
    <div class="container ">
        <div class="answers" *ngFor="let answer of questionDetails[0].answers">
            <div class="card bg-light mb-4 mt-4 mycard">
                <div class="card-body">

                    <div class="row">
                        <div class="votes col-sm-1">
                            <div class="icon" (click)="onUpvoteAnswer(answer)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="50" fill="purple"
                                    class="bi bi-caret-up" viewBox="0 0 16 16">
                                    <path
                                        d="M3.204 11h9.592L8 5.519 3.204 11zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z" />
                                </svg>
                            </div>
                            <div>
                                <b class="ml-4">{{answer.points}}</b>
                            </div>
                            <div class="icon" (click)="onDownvoteAnswer(answer)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="50" fill="purple"
                                    class="bi bi-caret-down" viewBox="0 0 16 16">
                                    <path
                                        d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z" />
                                </svg>
                            </div>
                        </div>
                        <div class="answer col-sm-10 mt-3">
                            <div class="mt-3 mb-3" [innerHtml]="answer.answer"></div>
                        </div>
                    </div>
                    <div class="card author col-sm-3 mt-3 shadow">
                        Author: {{answer.author}}
                    </div>

                </div>


            </div>

        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <form #answer="ngForm" (ngSubmit)="onSubmit()">
                    <label class="your-answer">Your Answer</label>

                    <div class="editor">

                        <angular-editor [placeholder]="'Enter text here...'" [config]="editorConfig" name="htmlContent"
                            [(ngModel)]="answerModel.answer"></angular-editor>

                    </div>

                    <div class="post pb-4 mt-3">
                        <button class="btn btn-primary submit">POST YOUR ANSWER</button>
                    </div>

                </form>

            </div>

        </div>
    </div>

</div>







<!-- <div class="container-fluid">

    <div class="question border border-primary">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 pt-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="rgb(14, 67, 172)"
                        class="bi bi-arrow-up-square-fill mr-2 mt-2" viewBox="0 0 16 16" (click)="onUpvoteQuestion()">
                        <path
                            d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0z" />
                    </svg>

                    <b>{{questionDetails[0].points}}</b>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="rgb(14, 67, 172)"
                        class="bi bi-arrow-down-square-fill ml-2 mt-2" viewBox="0 0 16 16"
                        (click)="onDownvoteQuestion()">
                        <path
                            d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z" />
                    </svg>

                </div>

                
                <div class="col-sm-7 qtitle">
                    <h1>{{questionDetails[0].questionTitle}}</h1>
                </div>
                <div class="col-sm-2 ">
                    <button id="my-button-5" class="btn btn-primary mt-4 askbutton" routerLink="/askQuestion"
                        routerLinkActive=true>Ask Question</button>
                </div>

            </div>

        </div>

        

        <div class="row">

            <div class="col qbody">

                <div class="mt-3 mb-3" [innerHtml]="questionDetails[0].questionBody"></div>
            </div>

        </div>
         <label class="desc">Description:</label> -->

<!-- <div class="row tbody">

            <div *ngFor="let tag of questionDetails[0].tags">

                <button class="btn btn-primary btn-sm ml-2">{{ tag }}</button>
            </div>

        </div>


    </div> -->

<!-- <label *ngIf="questionDetails[0].answers.length>0 ; else block1" class="ans">{{questionDetails[0].answers.length}} Answers</label>
    <ng-template #block1>
        <label class="ans">No one answered for this question yet</label>
    </ng-template>
    
    <div class="answers row shadow" id="gradient" *ngFor="let answer of questionDetails[0].answers">


        <div class="col-sm-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="rgb(14, 67, 172)"
                class="bi bi-arrow-up-square-fill mr-2 mt-2" viewBox="0 0 16 16" (click)="onUpvoteAnswer(answer)"
                id="upq">
                <path
                    d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0z" />
            </svg>
            <b>{{answer.points}}</b>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="rgb(14, 67, 172)"
                class="bi bi-arrow-down-square-fill ml-2 mt-2" viewBox="0 0 16 16" (click)="onDownvoteAnswer(answer)">
                <path
                    d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z" />
            </svg>
        </div>

        <div class="col-sm-6">
            <div class="mt-3 mb-3" [innerHtml]="answer.answer"></div>
        </div>

        <div class="author col-sm-3 mr-2 mt-2">
            Author:{{answer.author}}
        </div>

        <br><br>
    </div>


    <div class="container2">

        <form #answer="ngForm" (ngSubmit)="onSubmit()">
            <label class="your-answer">Your Answer</label>
    
            <div class="editor">
    
                <angular-editor [placeholder]="'Enter text here...'" [config]="editorConfig" name="htmlContent"
                 [(ngModel)]="answerModel.answer"></angular-editor>
    
            </div>
    
            <div class="post pb-4 mt-3">
                <button class="btn btn-primary submit">POST YOUR ANSWER</button>
            </div>
    
        </form>
    </div>






</div>  -->