.container-fluid{
    display: grid;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    background:#e6d27879
}
.question{
    color: rgb(61, 14, 138);
     margin-left: 120px;
    margin-top: 20px;
    margin-bottom: 10px;
    /* margin-right: 180px; */
    width: 82%;
    /* border: 1px rgb(80, 150, 255) solid; */
    border-radius: 25px;
    background-color: rgb(226, 180, 119)
}
/* .row{
    background:burlywood;
    border-radius: 30px;
    box-shadow: 12px 12px 22px;
} */

.answers{
    margin-left: 120px;
    margin-bottom: 30px;
    /* border:1px rgb(80, 150, 255) solid; */
    margin-right: 120px;
    border-radius: 25px;
    padding:40px;
    /* background-color: #e6d27867 */
    background-color:burlywood;
    box-shadow: 18px 18px 18px;
    
}
label{
    color:rgb(48, 7, 114);
    font-size: 18px;
    font-weight:550;
}
.container2{
    
    width: 100%;
    padding-left: 6%;
}

.points{
    margin-top: 200px;
}
.qtitle{
    margin-top: 10px;
    /* margin-left: px; */
   /* padding-right: 110px; */
}
.qbody{
   
    margin-left: 210px;
    /* background-color: rgb(230, 222, 220); */
    margin-bottom: 20px;
    margin-right: 100px;
}
.tbody{
    background: none;
    margin-left: 200px;
    margin-bottom: 20px;
}

.desc{
    margin-left: 15%;
    font-size: 15px;
    margin-top: 10px;
}



.post .btn{
    background-color: rgb(14, 67, 172);
    margin-left: 40px;
   
}
.ans{
    margin-left: 120px;
}
.askbutton{
    margin-left: 20px;
}

.editor{
    margin-left: 40px;

}
.your-answer{
    margin-left: 40px;
}
button{
    background-color:rgb(14, 67, 172)
}




.points{
    margin-top: 200px;
}
.qtitle{
   padding-right: 110px;
}
.qbody{
   
    margin-left: 180px;
    background-color: rgb(235, 214, 207);
    margin-bottom: 20px;
    margin-right: 100px;
    border-radius: 5px;
}
.tbody{
    background: none;
    margin-left: 14%;
    margin-bottom: 20px;
}

.desc{
    margin-left: 15%;
    font-size: 15px;
    margin-top: 10px;
}



.post .btn{
    background-color: rgb(14, 67, 172);
    margin-left: 19px;
    margin-bottom: 12%;
}
.ans{
    margin-left: 130px;
}
.askbutton{
    margin-left: 74px;
}
