.container-fluid{
    display: grid;
    /* justify-content: center; */
    flex-direction: column;
    padding: 10px;
    height: auto;
    background: #6190E8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A7BFE8, #6190E8);
}
.ss{
    margin-left: 110px;
    margin-right: 110px;
}
.icon:hover{
   border-left:1px purple solid;
}
.card{
    border:darkcyan
}
.question{
    padding: 25px;
}



.mycard{

    padding: 25px;

}
.card:hover{
    transform:scale(1.01);
    cursor: pointer;
    border-left: 8px purple solid;
}
.ans, .noans{
    padding-left: 56px;
    margin-top: 5px;
    font-size:18px
}
.your-answer{
    font-size:18px
}

.qauthor{
    
    padding:9px;
    border-left:4px purple solid;
    background-color: rgb(228, 190, 228);
}

.author{
    float:right;
    margin-right: 85px;
    padding:9px;
    border-left:4px purple solid;
    background-color: rgb(228, 190, 211);
}

/* .question{
    color: rgb(61, 14, 138);
     margin-left: 120px;
    margin-top: 20px;
    margin-bottom: 10px;
 
    width: 82%;
    
    border-radius: 25px;
    background-color: rgb(226, 180, 119)
}


.answers{
    margin-left: 120px;
    margin-bottom: 30px;
    
    margin-right: 120px;
    border-radius: 25px;
    padding:40px;
   
    background-color:burlywood;
    box-shadow: 18px 18px 18px;
    
}
label{
    color:rgb(48, 7, 114);
    font-size: 18px;
    font-weight:550;
}
.container2{
    
    width: 100%;
    padding-left: 6%;
}

.points{
    margin-top: 200px;
}
.qtitle{
    margin-top: 10px;
    
}
.qbody{
   
    margin-left: 210px;
    
    margin-bottom: 20px;
    margin-right: 100px;
}
.tbody{
    background: none;
    margin-left: 200px;
    margin-bottom: 20px;
}

.desc{
    margin-left: 15%;
    font-size: 15px;
    margin-top: 10px;
}



.post .btn{
    background-color: rgb(14, 67, 172);
    margin-left: 40px;
   
}
.ans{
    margin-left: 120px;
}
.askbutton{
    margin-left: 20px;
}

.editor{
    margin-left: 40px;

}
.your-answer{
    margin-left: 40px;
}
button{
    background-color:rgb(14, 67, 172)
}




 */
