<div class="container-fluid">
    <div class="row">
        <div class="col">
        <form [formGroup]="questionObj" method="post"(ngSubmit)="onSubmit()">
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" placeholder="give title for question" formControlName="questionTitle"required>
            </div>
            <div class="form-group">
                <label>Body</label><br>
                <textarea cols="70" rows="15" class="form-control" name="questionBody"formControlName="questionBody" required ></textarea>
            </div>
            <div class="form-group" formArrayName="questionTag">
                <label>Tag</label>
                <ng-container *ngFor="let tag of questionObj.get('questionTag').controls;index as i">
                    <input type="text" class="form-control" placeholder="specify tag" autocomplete="off" formControlName="{{i}}" required>
                
                </ng-container>
                <button class="btn-btn-primary btn-sm" (click)="addTags()" type="button"> add tags</button>
            </div>
            <button class="btn btn-success" type="submit">Submit question</button>
        </form>
    </div>
</div>
</div>
