.container-fluid{
    margin:0px;
    padding: 0px 60px;
    /* padding:70px; */
   /* display: flex;
    flex-direction: row;
    justify-content: center;*/
   /*background:linear-gradient(to right,#134E5E,#71B280);*/
/* background:linear-gradient(to right,#e6d27867,#e6d27877); */
/* 
  padding: 10px; */
  background:#A7BFE8;
}
.formClass
{
   /* border:1px solid black; */
  padding: 20px;
  margin-bottom: 16px;
   /* background-color: #808080; */
   /* border-radius: 20px; */
/*   background:linear-gradient(to left,#808080,#3fada8);*/
/* 
background:linear-gradient(to right,#e6d27867,#e6d27867); */
   box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; 
}
label{
    font-size: 25px;
    font-weight: bold;
    margin: 15px 0px;
    
}
.form-control{
  height: 45px;
    font-size: 20px;
    /* border-radius: 15px ; */
   /* background-color:rgb(231, 231, 116);*/
   /*background:linear-gradient(to left,#1f4037,#99f2c8)*/
   /*background:linear-gradient(to left,#808080,#3fada8);*/
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.btn:nth-child(2){
    padding: 12px 16px;
    font-size: 23px;
    font-weight: 300;
    margin-left:10px;
    
    font-family: 'Berkshire Swash', cursive;
}
#btn{
   position: relative;
   left:30%;
   font-size: 23px;
   font-weight: 300;
   padding: 12px 17px;
   /* border-radius: 20px; */
}
.error{
    font-size: 16px;
    color:red;
}
.example-chip-list {
    width: 100%;
    /* border-bottom:purple 1px solid; */
   
  }

.editor{
    padding:6px;
}
/* .formClass  .mat-focused .mat-form-field-ripple {
 
    background-color:blue !important;
 
  
}
.mat-focused .mat-form-field-label {
 
  color: blue !important;
 } */

 .mat-focused .mat-form-field-label {
  border-bottom:  #5cb53f !important;
  }
  
  .mat-form-field-ripple {
  background-color: #5cb53f !important;
  }
  .mat-form-field-underline {
    border-bottom: green;
}