.container-fluid{
    margin:0px;
    display: grid;
    justify-content: center;
    flex-direction: column;
   /* display: flex;
    flex-direction: row;
    justify-content: center;*/
   background:#e6d27867;
/*  background-image: url('https://miro.medium.com/max/12000/1*_YIuaml_vaFi-K2_A_eEBw.jpeg');*/
/*background-image: url('https://texaslawhelp.org/sites/default/files/styles/full-16x9-lg/public/askaquestion_image.jpg?itok=7EKtp5iY');*/
  padding: 10px;
}
.formClass
{
   border:1px solid black;
   padding:10%;
   background-color: #808080;
   border-radius: 20px;
   background:burlywood;
   box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; 
}
label{
    font-size: 25px;
    font-weight: bold;
    
}
.form-control{
  height: 55px;
    font-size: 20px;
   /* background-color:rgb(231, 231, 116);*/
   /*background:linear-gradient(to left,#1f4037,#99f2c8)*/
   /*background:linear-gradient(to left,#808080,#3fada8);*/
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.btn:nth-child(2){
    padding: 12px 16px;
    font-size: 23px;
    font-weight: 300;
    margin-left:10px;
    
    font-family: 'Berkshire Swash', cursive;
}
#btn{
   position: relative;
   left:30%;
   font-size: 23px;
   font-weight: 300;
   padding: 12px 17px;
   border-radius: 20px;
}
.error{
    font-size: 20px;
    color:red;
}
.example-chip-list {
    width: 100%;
  }
.editor{
    padding:10px;
}
/*.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}*/