<h1 class="text-center font-italic font-weight-bold">Upload Your Profile Picture</h1>
<hr />

            <form  [formGroup]="form" (submit)="onSubmit()" class="form">
                <span class="label label-info mr-4">Email</span>
                <input  formControlName="email" type="text" placeholder="Enter email..." /><br><br><br>
              
                <input (change)="onFileSelect($event)" type="file" class="input mr" /><br><br><br>
                <button class="button" type="submit">Upload Picture</button>
                <!-- <button type="button" (click)="getMyImage()">Get profile</button> -->
                <!-- <img src="{{profile}}" width="200px" height="230px"> -->
            </form>
           
           
    