.box2{
    background:whitesmoke;
    width: 95%;
    height:15rem;
    /* border-radius: .5rem; */
    margin:5px;
    margin-left:20px;
    padding:25px;
    box-shadow: 0 40px 60px -20px rgba(12, 5, 62, 0.15);
    
    

}
/* @media only screen and (max-width: 700px) {
    .container-fluid {
      width:100%;
    }
  } */
.box2:hover{
    transform:scale(1.01);
    cursor: pointer;
    border-left: 8px purple solid;
   
}
.card{
    border:darkcyan
}
#my-button{
    margin-top: -5rem;
    margin-right: 1%;

}
#my-button-1{
    height:25px;
    background-color:#3977eb;
    padding-bottom: 2rem;
}
.next{
    margin-left: 70%;
}
.gradient{
    height: 200%;
    background: #6190E8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    /* padding-bottom: 30%; */
}
#my-button-3{
    margin-left: 550%;
}
.points{
    margin-bottom: -4rem;
    margin-left:10rem ;
   
    
}
.length{
    margin-bottom: -4rem;
    margin-left:18rem ;
    
}
.tags{
    margin-top: -2rem;
    margin-left:28rem ;
}
.views{
    margin-bottom: -4rem;
    margin-left: 3rem;
}
.timestamps{
    margin-bottom: -4rem;
    margin-left: 88rem;
   
}
.text-box{
    margin-left: 50rem;
}
.my-card{
    background-color:#A7BFE8;
}
#mynavbar{
    justify-content: flex-end;
}
/* .example-spacer{
    flex:10 10 auto
} */