
<div class="container-fluid ">
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <img  src="https://p.kindpng.com/picc/s/19-195403_stack-overflow-logo-hd-png-download.png" width="100" height="50" alt="">
    <input class="text-box" type="text" id="fname" name="fname" #fname>
    <button (click)="searchQuestionsByTags(fname.value)" class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
        
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ml-auto">
         
          <button id="my-button-3" class="btn btn-primary" routerLink="/user-profile" routerLinkActive=true >Profile</button>
       
          
        </div>
    </div>
</nav>

</div>
<div class="gradient">
  <div class="container">
    
    <button id="my-button-5" class="btn btn-primary pull-right mt-2 " (click)="signOut()" routerLinkActive=true >Signout</button>
    <h1 style="margin-left: 0rem mr-8">Top Questions</h1>
    <button id="my-button-5" class="btn btn-primary pull-right" routerLink="/askQuestion" routerLinkActive=true >Ask Question</button>
     
    <br /><br />

    <div class="row">
      <div class="col-sm-12">
        <div class="card my-card" >
          <div class="card-body">
            <div  (click)="onClick(i.questionTitle)" *ngFor="let i of data  | paginate: { id: 'listing_pagination',
            itemsPerPage: 5,
            currentPage: page,
            totalItems: totalRec }">
              <div class="box2 row">
                <div class="col-md-1 col-12">
                <span class="text-dark mr-1" style="font-size: large;">Views</span><br>
                

                <i class="bi bi-eye"></i>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                  <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                  <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                </svg>
                <span class="text-dark" style="font-size: large;">{{i.views}}</span>
              </div>
                <div class="col-md-1 col-12">
                  <span style="font-size: large;">Points</span><br>
                  <span class="text-dark" style="font-size: large;">{{i.points}}</span>
                </div>
                <div class="col-md-2 col-12">
                  <span style="font-size: large;">Answers</span><br>
                  <span class="text-dark" style="font-size: large;">{{i.answers.length}}</span>
                </div><br>

                 
                <div class="col-md-6 col-12">
                  <p class="text-dark" style="font-size: large;">Title:{{ i.questionTitle }}</p>
                 <small class="pl-1 pt-1" style="font-size: large;"> Tags:  <span *ngFor="let tag of i.tags"><button id="my-button-1"  class="btn text-light ml-2 mr-2 ">{{ tag }}</button></span></small>
                </div>
                

                <div class="col-md-2 col-6">
                  <span class="text-dark" style="font-size: medium;">{{i.createdAt}}</span>
                </div>
               


                
               
                <br />
              </div>
              <br />
            </div>

            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="next">
		<pagination-controls  id="listing_pagination" maxSize:any="5" directionLinks:any="true" (pageChange)="page = $event"></pagination-controls>
  </div>
</div>
