
    <section class="Form my-4 mxt-4">
        <div class="container">
            <div class="row no-gutter">
                <div class="col-lg-5">
                    <!-- <img src="https://filmfare.wwmindia.com/content/2020/nov/shahrukhkhan11605693757.jpg" class="img-fluid" alt="">
                      -->
                    <!-- <img src="https://banner2.cleanpng.com/20180920/efk/kisspng-user-logo-information-service-design-5ba34f88a0c3a6.5907352915374293846585.jpg" class="img-fluid" alt=""> -->
                   
                 </div> 
                <div class="col-lg-7 px-5 pt-5">
                    <h1 class="font-weight-bold py-3">Update Profile Details</h1>
                    <form [formGroup]="updateProfile" method="post"(ngSubmit)="onSubmit()">
                        <div class="form-row">
                            <div class="col-lg-7">
                                <input type="text" placeholder="Enter Phone Number" class="form-control my-3 p-4" formControlName="phone"required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7">
                                <input type="text" name="company" placeholder="Enter Company Name" class="form-control my-3 p-4" formControlName="company" required>
                            </div>
                        </div>
                        <div class="form-row" formArrayName="skills" required>
                            <div class="col-lg-7">
                                    <!-- <label>Skills</label> -->
                                    <ng-container *ngFor="let skill of updateProfile.get('skills').controls;index as i">
                                        <input style="margin-top: 10px;"type="text" class="form-control" placeholder="skills" autocomplete="on" formControlName="{{i}}" required>
                                        <!-- <span class="error" *ngIf="questionTag.hasError('required')&& questionTag.touched">question tag is required</span> -->
                                    </ng-container>
                                    <button class="btn btn-secondary btn-sm" style="margin-top: 8px;color: white;"(click)="addskill()" type="button"> add Skills</button>
                                </div>
                        </div>
                        <br>
                        <div class="form-row"  formArrayName="hobbies" required>
                            <div class="col-lg-7">
                                <!-- <label>Hobbies</label> -->
                                <ng-container *ngFor="let hobbie of updateProfile.get('hobbies').controls;index as i">
                                    <input style="margin-top: 10px;"type="text" class="form-control" placeholder="Hobbies" autocomplete="off" formControlName="{{i}}" required> 
                                    <!-- <span class="error" *ngIf="questionTag.hasError('required')&& questionTag.touched">question tag is required</span> -->
                                </ng-container>
                                <button class="btn btn-secondary btn-sm" style="margin-top: 8px;color: white;" (click)="addhobbies()" type="button">add Hobbies</button>
                            </div>
                        </div>
                        <br>
                        <div class="form-row">
                            <div class="col-lg-7">
                                <!-- <button type="submit" class="btn1 ">Submit</button> -->
                                <button class="btn  btn-sm btn1" id="buttonUp" type="submit" [disabled]="!updateProfile.valid" style="font-size: 20px;padding: 7px;">Update</button>
                            </div>
                        </div>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </section>