<div class="container-fluid">
  <div class="userProfile">
    <h1>User Profile Details</h1>
  </div>
  <br>
  <div class="container">
    <div class="card" style="width: 100%;height: auto;background-color:#e6d27867;">
      <div class="card-body">
        <h5 class="card-title">First Name:{{data.firstname}}</h5>
        <h5 class="card-subtitle mb-2">Last Name:{{data.lastname}}</h5>
        <h5 class="card-title">Email:{{data.email}}</h5>
        <h5 class="card-title">Phone Number:{{data.phone}}</h5>
        <h5 class="card-title">Company Name:{{data.company}}</h5>
        <!-- <h5 class="card-title">Skills:{{data.skills}}</h5>
        <h5 class="card-title">Hobbies:{{data.hobbies}}</h5> -->
      </div>
    </div>
    <button type="submit" id="my-button-5" class="btn btn-outline-success pull-right" routerLink="/update-profile" routerLinkActive=true >Update Profile</button>
  </div>
  <div class="gradient">
    <div class="container">
      <h3>Posted question</h3>
      <br/>
      <div class="row">
        <div class="col-sm-12">
          <div class="card" >
            <div class="card-body">
              <div  *ngFor="let i of question  | paginate: { id: 'listing_pagination',
              itemsPerPage: 5,
              currentPage: page,
              totalItems: totalRec }">
                <div class="box2">
                  <div class=views>
                  <span class="text-dark mr-2">Views</span><br>
                  <i class="bi bi-eye"></i>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                  </svg>
                  <span class="text-dark">{{i.views}}</span>
                </div>
                  <div class="points">
                    <span>Points</span><br>
                    <span class="text-dark">{{i.points}}</span>
                  </div>
                  <div class="length">
                    <span>Answers</span><br>
                    <span class="text-dark">{{i.answers.length}}</span>
                  </div><br>
  
                  <div class="timestamps">
                    <span class="text-dark">{{i.createdAt}}</span>
                  </div>
                 <div class="tags">
                    <p class="text-dark">Title:{{ i.questionTitle }}</p>
                   <small class="pl-1 pt-1"> Tags:  <span *ngFor="let tag of i.tags"><button id="my-button-1"  class="btn btn-primary btn-sm  btn-outline-success ml-1 mr-4 text-dark">{{ tag }}</button></span></small>
                  </div>
                  
                  <br />
                </div>
                <br />
              </div>
  
              <br />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="next">
      <pagination-controls  id="listing_pagination" maxSize:any="5" directionLinks:any="true" (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>

